name: CLA Assistant
on:
  pull_request_target:
    types: [opened, synchronize, reopened]
  issue_comment:
    types: [created]

jobs:
  cla:
    permissions:
      contents: read
      pull-requests: write
      issues: write
    uses: replane-dev/.github/.github/workflows/cla.yml@main
    secrets:
      CLA_ACCESS_TOKEN: ${{ secrets.CLA_ACCESS_TOKEN }}
